.input-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30px;
  margin: 5px;
  border-radius: 5px;
  border: 0.5px solid grey;
}

.label-style {
  color: black;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-style-yellow {
  background-color: #ffbf00;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  margin: 3px;
  width: 80px;
  height: 40px;
}

.button-style-yellow:hover {
  background-color: #5c4c1a;
  color: white;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: darkblue;
  gap: 50px;
  text-align: center;
}

.button-style-red {
  background-color: rgb(142, 30, 30);
  border-radius: 5px;
  border: none;
  margin: 3px;
  width: 40px;
  height: 30px;
  color: white;
}

.button-style-red:hover {
  background-color: rgb(66, 19, 19);
}

.table-style {
  text-align: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  padding: 10px;
  justify-content: center;
  align-items: center;
}
